img.singleCover {
  width: 100%;
}

h1.title {
  font-size: 34px;
  font-weight: bold;
}

h3.author {
  font-size: 22px;
  font-weight: bold;
}

span.about {
  font-size: 20px;
  font-weight: bold;
}

h4.header {
  font-size: 18px;
  font-weight: bold;
  color: #00897b;
}

h6.links {
  font-size: 18px;
  font-weight: bold;
}

h6.links span {
  font-size: 16px;
  font-weight: normal;
}

p.first-sentence {
  font-size: 20px;
}

span.edition-title {
  font-weight: bold;
  font-size: 16px;
}
p.edition-info {
  font-size: 14px;
  margin-bottom: 0;
}
